<!DOCTYPE html> 
 
<html lang="en"> 
<head> 
<meta charset="utf-8" /> 
<!--[if lt IE 9]>
<script src="/static/js/html5.js"></script>
<![endif]--> 
	<title>HR4E Forms</title>
   	<link rel="shortcut icon" href="static/favicon.ico" > 
   	<script type="text/javascript" src="/static/js/jquery.min.js"></script> 
    	<script type="text/javascript" src="/static/js/hr4e.js"></script> 
    	<link rel="stylesheet" type="text/css" href="/static/css/super.css" />
</head>

<body class="showgrid"> 

<header> 
	<hgroup> 
		<h1 id="big">Thumb Drive Error</h1><br/>
	</hgroup> 
</header> 
<br/><br/><br/>
<div class="accordion" id="accordion">
<section class="intake">	
<!-- *****************************************************************************************
					Intake								
-->
<h1>Error Possibilities:</h1>
<ul>
	<li><h2><strong>It is likely that you need to plugin in your thumb stick...</strong></h2></li><br/>
	<li><h2><strong>Or, you need to make sure that your thumb stick is formatted to be named 'SUPER'.</strong></h2></li><br/>
	<li><h2><strong>Or, You need to go to admin settings and fix the thumb_drive directory...Good luck!</strong></h2></li><br/>
</ul>
<br/>
<h1><a href="/hr4e/" title ="home"> > > >Click here to return to the HR4E Application < < <</a></h1>
</section> 

 

</div> 
<!-- class="accordion" id="accordion" --> 
<br class="clear" /> 
 
 
<!-- ******************************************************************************************
					Footer		 
     ****************************************************************************************** --> 
<footer class="r15"> 
<small><a href="http://www.hr4e.org" title="HR4E">HR4E </a></small> 
</footer> 

</body> 
</html>

